
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<div class="bodyTeatType1" 
style="margin-top:0%;margin-bottom:0%;margin-left:0%;margin-right:0%"
>
  <div class="memberTeatType1-areaTeatType1 pb-70">
    <div class="container">
      <div class="section-titleTeatType1 text-center">
        <span
        dir='ltr'
        class="spanTeatType1"
        >Our Expert members</span>
        <h2 
        class="h2TeatType1"
        dir='ltr'
        >
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </h2>
        <p 
        class="pTeatType1"
        dir='ltr'
        >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
        numquam blanditiis harum quisquam eius sed odit fugiat iusto .
        </p>
      </div>
      <!--team here -->
      <section class="slider-areaCarouselType4">
      <div 
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      $slider
      class="row"
      style="padding-top: 45px;"

      ><!-- Begin Team -->
      <!-- begin section call -->
      <div   class="
      col-lg-3 col-sm-6
      ">
              <div class="memberTeatType1-card">
                <div class="memberTeatType1-img">
                  <a 
                  class="aTeatType1"
                  >
                  <div 
                  style="background-size: 300px 300px !important;background-repeat: no-repeat !important;background: white;width: 100%;height: 100%;"
                  >
                  <!--ImageAndAssociatedText ^content_image | ^content_text -->
                    <img 
                    class="imgTeatType1"
                    src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                    height="300px"
                    width="300px"
                    style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;"
                    
                    alt="memberTeatType1 Images" />
                    </div>
                  </a>
                  <div class="memberTeatType1-content">
                    <a 
                    class="aTeatType1"
                    >

                      <h3 
                      class="h3TeatType1 "

                      style="color:#070f4d;font-family:'Poppins', sans-serif;font-size:20px;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:center"
                      onmouseover='this.style.color="#070f4d"'
                      onmouseout='this.style.color="#070f4d"'

                      >
                     
                      test 1
                      
                    </h3>
                    </a>
                    <span 
                    class="spanTeatType1"
                    style="color:#707070;font-family:'Poppins', sans-serif;font-size:14px;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:center"
                    onmouseover='this.style.color="#707070"'
                    onmouseout='this.style.color="#707070"'
                    >
                    dolor
                    </span>
                    <div class="social-iconTeatType1">
                      <ul 
                      class="ulTeatType1"
                      >
                        
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-facebook"></i>
            </a>
        </li>
      
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-twitter"></i>
            </a>
        </li>
      
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-instagram"></i>
            </a>
        </li>
      
                        
                       
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end section call -->
      
      <!-- begin section call -->
      <div   class="
      col-lg-3 col-sm-6
      ">
              <div class="memberTeatType1-card">
                <div class="memberTeatType1-img">
                  <a 
                  class="aTeatType1"
                  >
                  <div 
                  style="background-size: 300px 300px !important;background-repeat: no-repeat !important;background: white;width: 100%;height: 100%;"
                  >
                  <!--ImageAndAssociatedText ^content_image | ^content_text -->
                    <img 
                    class="imgTeatType1"
                    src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
                    height="300px"
                    width="300px"
                    style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;"
                    
                    alt="memberTeatType1 Images" />
                    </div>
                  </a>
                  <div class="memberTeatType1-content">
                    <a 
                    class="aTeatType1"
                    >

                      <h3 
                      class="h3TeatType1 "

                      style="color:#da350b;font-family:'Poppins', sans-serif;font-size:20px;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:{text_align}"
                      onmouseover='this.style.color="#070f4d"'
                      onmouseout='this.style.color="#da350b"'

                      >
                     
                      hello
                      
                    </h3>
                    </a>
                    <span 
                    class="spanTeatType1"
                    style="color:#707070;font-family:'Poppins', sans-serif;font-size:14px;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:{margin_top}px;margin-bottom:{margin_bottom}px;margin-left:{margin_left}px;margin-right:{margin_right}px;text-align:{text_align}"
                    onmouseover='this.style.color="#707070"'
                    onmouseout='this.style.color="#707070"'
                    >
                    consectetur 
                    </span>
                    <div class="social-iconTeatType1">
                      <ul 
                      class="ulTeatType1"
                      >
                        
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-facebook"></i>
            </a>
        </li>
      
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-twitter"></i>
            </a>
        </li>
      
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-instagram"></i>
            </a>
        </li>
      
                        
                       
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end section call -->
      
      <!-- begin section call -->
      <div   class="
      col-lg-3 col-sm-6
      ">
              <div class="memberTeatType1-card">
                <div class="memberTeatType1-img">
                  <a 
                  class="aTeatType1"
                  >
                  <div 
                  style="background-size: 300px 300px !important;background-repeat: no-repeat !important;background: white;width: 100%;height: 100%;"
                  >
                  <!--ImageAndAssociatedText ^content_image | ^content_text -->
                    <img 
                    class="imgTeatType1"
                    src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                    height="300px"
                    width="300px"
                    style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;"
                    
                    alt="memberTeatType1 Images" />
                    </div>
                  </a>
                  <div class="memberTeatType1-content">
                    <a 
                    class="aTeatType1"
                    >

                      <h3 
                      class="h3TeatType1 "

                      style="color:#da350b;font-family:'Poppins', sans-serif;font-size:20px;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:{text_align}"
                      onmouseover='this.style.color="#070f4d"'
                      onmouseout='this.style.color="#da350b"'

                      >
                     
                      hi
                      
                    </h3>
                    </a>
                    <span 
                    class="spanTeatType1"
                    style="color:#707070;font-family:'Poppins', sans-serif;font-size:14px;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:{margin_top}px;margin-bottom:{margin_bottom}px;margin-left:{margin_left}px;margin-right:{margin_right}px;text-align:{text_align}"
                    onmouseover='this.style.color="#707070"'
                    onmouseout='this.style.color="#707070"'
                    >
                    Maxime
                    </span>
                    <div class="social-iconTeatType1">
                      <ul 
                      class="ulTeatType1"
                      >
                        
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-facebook"></i>
            </a>
        </li>
      
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-twitter"></i>
            </a>
        </li>
      
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-instagram"></i>
            </a>
        </li>
      
                        
                       
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end section call -->
      
      <!-- begin section call -->
      <div   class="
      col-lg-3 col-sm-6
      ">
              <div class="memberTeatType1-card">
                <div class="memberTeatType1-img">
                  <a 
                  class="aTeatType1"
                  >
                  <div 
                  style="background-size: 300px 300px !important;background-repeat: no-repeat !important;background: white;width: 100%;height: 100%;"
                  >
                  <!--ImageAndAssociatedText ^content_image | ^content_text -->
                    <img 
                    class="imgTeatType1"
                    src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                    height="300px"
                    width="300px"
                    style="border-top-left-radius:10px;border-top-right-radius:10px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;"
                    
                    alt="memberTeatType1 Images" />
                    </div>
                  </a>
                  <div class="memberTeatType1-content">
                    <a 
                    class="aTeatType1"
                    >

                      <h3 
                      class="h3TeatType1 "

                      style="color:#da350b;font-family:'Poppins', sans-serif;font-size:20px;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:0px;margin-bottom:0px;margin-left:0px;margin-right:0px;text-align:{text_align}"
                      onmouseover='this.style.color="#070f4d"'
                      onmouseout='this.style.color="#da350b"'

                      >
                     
                      okay
                      
                    </h3>
                    </a>
                    <span 
                    class="spanTeatType1"
                    style="color:#707070;font-family:'Poppins', sans-serif;font-size:14px;padding-top:0px;padding-bottom:0px;padding-left:0px;padding-right:0px;margin-top:{margin_top}px;margin-bottom:{margin_bottom}px;margin-left:{margin_left}px;margin-right:{margin_right}px;text-align:{text_align}"
                    onmouseover='this.style.color="#707070"'
                    onmouseout='this.style.color="#707070"'
                    >
                    vel
                    </span>
                    <div class="social-iconTeatType1">
                      <ul 
                      class="ulTeatType1"
                      >
                        
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-facebook"></i>
            </a>
        </li>
      
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:50px;border-top-right-radius:50px;border-bottom-left-radius:50px;border-bottom-right-radius:50px;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-twitter"></i>
            </a>
        </li>
      
      <li 
             class="liTeatType1"
            style="background-color:white;border-top-left-radius:undefinedpx;border-top-right-radius:undefinedpx;border-bottom-left-radius:undefinedpx;border-bottom-right-radius:undefinedpx;width:40px;height:40px"
            onmouseover='this.style.backgroundColor ="#4356d6"'
            onmouseout='this.style.backgroundColor="white"'

             >
              <a 
              class="aTeatType1"
              style="font-size:20px;color:#4356d6;"
              onmouseover='this.style.color="white"'
              onmouseout='this.style.color="#4356d6"'

            
              >
            <i class="fab fa-instagram"></i>
            </a>
        </li>
      
                        
                       
                        
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end section call -->
      